.wrapper{
  width: fit-content;
  box-shadow: 3px 3px 3px 6px rgba(0,0,0,0.2);
  padding: 60px 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media(max-width: 814px){
    max-width: 600px;
  }

  @media(max-width: 676px){
    max-width: 480px;
  }

  @media(max-width: 540px){
    max-width: 380px;
  }
}